@viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font: 1rem "Alegreya", "Georgia", serif;
}

/* normalize.css uses ems for top margin, use rems instead for consistency */
h1 {
  margin-top: 1.34rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Julius Sans One", "Helvetica Neue", sans-serif;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: lighten(@color, 82.5%);
  overflow: auto;

  mark {
    background-color: #ff9;
    box-shadow: 0 0 0 .1em #ff9;
    font-style: normal;
  }
}

code {
  font-family: "Hack", "Consolas", "Courier New", monospace;
  font-size: 0.8em;
}

b, strong {
  line-height: 1;
}

aside {
  padding: 1rem;
  background-color: lighten(@color, 82.5%);
  border: 1px solid lighten(@color, 70%);
}

blockquote {
  border-left: 1px solid lighten(@color, 70%);
  color: lighten(@color, 30%);
  margin-left: 1rem;
  padding-left: 1rem;
}
