@viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

body {
  font: 1rem "Crimson Text", "Georgia", serif;
}

/* normalize.css uses ems for top margin, use rems instead for consistency */
h1 {
  margin-top: 1.34rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Julius Sans One", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f7f7f7;
}

code {
  font-family: "Ubuntu Mono", "Inconsolata", "Courier New", monospace;
  font-size: 0.9rem;
}

b, strong {
  line-height: 1;
}
