@break-sm: ~"only screen and (min-width: 28rem)";
@break-md: ~"only screen and (min-width: 38rem)";
@break-lg: ~"only screen and (min-width: 58rem)";
@break-xl: ~"only screen and (min-width: 68rem)";

@header-width: 12rem;
@content-width: 42rem;
