.container {
  display: flex;
  flex-direction: column;
  max-width: @header-width + @content-width;
  min-height: 100vh;
  margin: 0 auto;

  @media @break-lg {
    flex-flow: row wrap;
  }

  @media @break-xl {
    max-width: @content-width;
  }
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: @content-width;
  margin: 0 auto;
  padding: 0 1rem;

  @media @break-lg {
    flex-direction: column;
    justify-content: flex-start;
    width: @header-width;
    margin: 0;
    padding-right: 0;
    text-align: right;
  }

  @media @break-xl {
    margin-left: -1 * @header-width;
  }

  .__link {
    display: block;
    text-decoration: none;
  }

  .__title {
    font-size: 1rem;

    @media @break-sm {
      font-size: 1.167rem;
    }
  }
}

.site-nav {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.site-content, .site-footer {
  width: 100%;
  max-width: @content-width;
  margin: 0 auto;
  padding: 0 1rem;

  @media @break-lg {
    margin: 0;
  }
}

.site-content {
  flex-grow: 1;
}

.site-footer {
  align-self: flex-end;
  margin: 1rem 0;
  font-size: 0.85rem;

  @media @break-lg {
    margin-left: @header-width;
  }

  @media @break-xl {
    margin-left: 0;
  }
}
