<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <a class="site-header__link" href="/" title="Homepage">
          <h1 class="site-header__title">{{ site.title }}</h1>
          <p class="site-header__subtitle">{{ site.subtitle }}</p>
        </a>
      </header>
      <main class="site-content">
        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
