<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <a class="__link" href="/" title="Homepage">
          <h1 class="__title">{{ site.title }}</h1>
          <p class="__subtitle">{{ site.subtitle }}</p>
        </a>
      </header>
      <main class="site-content">
        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
      <footer class="site-footer">
        Copyright © {{ site.buildTime | format('YYYY') }} <a href="/" title="{{ site.title }}">{{ site.title }}</a>.
        Some Rights Reserved (<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/us/">CC BY-NC-SA 3.0 US</a>).
      </footer>
    </div>
  </body>
</html>
