<!doctype html>
<html lang="en">
  <head>
    {% include '_head.html' %}

    {% block opengraph %}
      <meta property="og:url"   content="{{ site.baseUrl }}{{ page.permalink }}" />
      <meta property="og:type"  content="article" />
      <meta property="og:title" content="{{ page.title }}" />
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <a class="__link" href="{{ site.baseUrl }}" title="Homepage">
          <h1 class="__title">{{ site.title }}</h1>
          <p class="__subtitle">{{ site.subtitle }}</p>
        </a>
        <nav class="site-nav">
          <ul>
            <li><a href="/" title="Articles">Articles</a></li>
            <li><a href="https://twitter.com/jbhannah" title="@jbhannah on Twitter">Twitter</a></li>
            <li><a href="https://github.com/jbhannah" title="jbhannah on GitHub">GitHub</a></li>
          </ul>
        </nav>
      </header>
      <main class="site-content">
        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
      <footer class="site-footer">
        Copyright © {{ site.buildTime | format('YYYY') }} <a href="{{ site.baseUrl }}" title="{{ site.title }}">{{ site.title }}</a>.
        Some Rights Reserved (<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>).
        Source code on <a href="https://github.com/jbhannah/jbhannah.net">GitHub</a>.
      </footer>
    </div>
    {%- if site.production %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75018467-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');

    </script>
    {%- endif %}
  </body>
</html>
